#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* //mis on keyframe
//Keyframe on CSS-i omadus, mis võimaldab luua animatsioone, 
//määrates erinevaid olekuid ja nende vahelisi üleminekuid. 
//Keyframe'id defineerivad, kuidas element peaks muutuma aja jooksul,
// võimaldades luua sujuvaid ja dünaamilisi visuaalseid efekte.
// Näiteks ülaltoodud koodis on defineeritud "logo-spin" keyframe, 
//mis pöörab elementi 360 kraadi alates 0 kraadi. */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* //mis on media
//Media on CSS-i omadus, mis võimaldab määrata erinevaid stiile 
erinevate seadmete ja ekraanide jaoks.
// Näiteks ülaltoodud koodis on defineeritud media query, 
mis rakendub ainult siis, kui kasutaja ei soovi liikumise vähendamist. */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}